name: commit-lint

on: [pull_request]

jobs:
  commit-lint:
    name: Commits linter
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: ${{ github.event.pull_request.commits }}
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Commits linter
        uses: bugbundle/commits@v1.1.0
        id: commits

      - name: Preview the version
        run: echo ${{ steps.commits.outputs.major }}.${{ steps.commits.outputs.minor }}.${{ steps.commits.outputs.patch }}
